#header{
background-image: url("black_halftone_in_white_background.jpg");
background-position: 50% 25%;
padding-bottom: 10%;
padding-top: 10%;
background-size: cover;
}

body {
    font-family: Montserrat, sans-serif;
    font-size: 17px;
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(85,85,85,1) 100%);
    line-height: 30px;
}

#nome {
    text-align: center;
    font-size: 26px;
    background-color: rgb(255, 255, 255);
    margin-top: 50px;
    margin-bottom: 50px;
}

.fotosobre {
    display: inline-block;
    margin: 0 auto;
}

.foto {
    margin-left: 350px;
}

.sobre {
    width: 700px;
    margin-left: 100px;
}

.centro {
    text-align: center;
    color: white;
    background-color: black;
    font-weight: bold;
}

h3{
    text-decoration: overline;
    text-decoration-color:rgb(0, 0, 0) ;
    font-size: 1.7em;
}

.negrito {
    font-size: 21px;
}

.media {
    font-size: 19px;
}

#disciplinado {
    font-size: 17px;
}

.button {
    background-color: rgb(0, 0, 0);
    color:white;
    border-radius: 10px;
    padding: 3px 8px;
    text-decoration: none;
    line-height: 38px;
}

.picture{
    border-radius: 1000px;
    text-decoration: none;
}

#description {
    text-align: justify;
}

h4 {
    font-size: 1.2em;
    color:rgb(0, 0, 0); 
    font-style: oblique;
}

#copyright {
    color:white;
    padding-left: 68%;
}