body {
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    background-color:rgb(190, 224, 195);
    line-height: 30px; 
}

.centro {
    text-align: center;
}

h1 {
    text-decoration:overline;
    text-decoration-color: rgb(0, 0, 0);
    background-color:lavender;
}

h3{
    text-decoration: overline;
    text-decoration-color:rgb(29, 90, 39) ;
    font-size: 1.7em;
    color:rgb(29, 90, 39); 
}

h2 {
    background-color: lavender;
}

.negrito {
    font-size: 21px;
}

.media {
    font-size: 19px;
}

#disciplinado {
    font-size: 17px;
}

.button {
    background-color: rgb(63, 94, 73);
    color:white;
    border-radius: 10px;
    padding: 5px 10px;
    text-decoration: none;
    line-height: 35px;
}

.picture{
    border-radius: 1000px;
    text-align: center;
}

#description {
    text-align: justify;
}

h4 {
    font-size: 1.2em;
    font-style:italic ;
}
