    body {
    font-family: Montserrat, sans-serif;
    font-size: 17px;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    line-height: 30px;
}

.centro {
    text-align: center;
}

h1 {
    text-decoration:overline;
    text-decoration-color: rgb(0, 0, 0);
    background-color:lavender;
}

h3{
    text-decoration: overline;
    text-decoration-color:rgb(0, 0, 0) ;
    font-size: 1.7em;
}

h2 {
    background-color: lavender;
}

.negrito {
    font-size: 21px;
}

.media {
    font-size: 19px;
}

#disciplinado {
    font-size: 17px;
}

.button {
    background-color: rgb(96, 124, 156);
    color:white;
    border-radius: 10px;
    padding: 3px 8px;
    text-decoration: none;
    line-height: 38px;
}

.picture{
    border-radius: 1000px;
    text-decoration: none;
}

#description {
    text-align: justify;
}

h4 {
    font-size: 1.2em;
    color:rgb(0, 0, 0); 
    font-style: oblique;
}